<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mechat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/me_chat_icon_app"
        android:roundIcon="@drawable/me_chat_icon_app_round"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustPan"
        android:theme="@style/AppTheme">
        <activity android:name=".LoadScreen" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".LatestMessagesActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".NewMessageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LatestMessagesActivity" />
        </activity>
        <activity android:name=".ChatLogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LatestMessagesActivity" />
        </activity>
    </application>

</manifest>